 <div class="header">
    <div id="googlemaps"></div>
    <!-- Include the Google Maps API library - required for embedding maps -->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBlYU4K1Omu4kXWgGcN7JGqOOilPFGBCL8"></script>
     
    <script type="text/javascript">

    let cities = {
      berlin: {
        lat: 52.51, 
        lon: 13.37
      }
    }

    function emojiFlag( country ){
      const offset = 127397;
      const A = 65;
      const Z = 90;
      const f = country.codePointAt(0);
      const s = country.codePointAt(1);

      if (
        country.length !== 2
        || f > Z || f < A
        || s > Z || s < A
      )
        throw new Error('Not an alpha2 country code');

      return String.fromCodePoint(f + offset)
        +String.fromCodePoint(s + offset);
    }

    let today = new Date()
    let itinerary = [
      {start: new Date("2017-08-07"), city: cities.budapest},
      {start: new Date("2017-09-07"), city: cities.libson},
      {start: new Date("2017-09-14"), city: cities.laspalmas},
      {start: new Date("2017-10-08"), city: cities.panama},
      {start: new Date("2017-10-11"), city: cities.bocas}
    ]

    var position = cities.berlin // fallback

    function createGoogleMap() {
      var customMapType = new google.maps.StyledMapType([
      {
          stylers: [
          {hue: '#53556A'},
          {visibility: 'simplified'},
          {gamma: 0.5},
          {weight: 0.5}, 
          {lightness: -60}
          ]
      },
      {
          elementType: 'labels',
          stylers: [{visibility: 'on'}, {color: '#ffffff'}]
      },
      {
          elementType: "labels.text.fill",
          stylers: [
              { lightness: 59 },
              { gamma: 0.44 },
              { color: "#DBDAE3" }
          ]
      },
      {
          elementType: "labels.text.stroke",
          stylers: [ { visibility: "off" } ]
      },

      {
          featureType: 'water',
          stylers: [{color: '#6E728D'}]
      },
      {
          featureType: "road",
          elementType: "labels",
          stylers: [{visibility: "off"}]
      },
      {
          featureType: "poi",
          elementType: "labels",
          stylers: [{visibility: "off"}]
      },
      {
          featureType: "administrative.neighborhood",
          elementType: "labels",
          stylers: [{visibility: "off"}]
      },
      {
          featureType: "road.local",
          stylers: [{visibility: "off"}]
      },
      {
        name: 'Custom Style'
      }]);
      var customMapTypeId = 'custom_style';

   
      var mapOptions = {
          zoom: 12, // initialize zoom level - the max value is 21
          streetViewControl: false, // hide the yellow Street View pegman
          scaleControl: false, // allow users to zoom the Google Map
          mapTypeControl: false,
          zoomControl: false,
          rotateControl: false, 
          // mapTypeId: [google.maps.MapTypeId.ROADMAP, customMapTypeId],
          center: new google.maps.LatLng(cities.berlin.lat, cities.berlin.lon)
      };
      var map = new google.maps.Map(document.getElementById('googlemaps'), mapOptions);
      map.mapTypes.set(customMapTypeId, customMapType);
      map.setMapTypeId(customMapTypeId);
      return map 
    }

    var map = createGoogleMap()

    function updateMapCenter() {
      map.setCenter(position)
    }
     
    google.maps.event.addDomListener(window, 'load', updateMapCenter);
    google.maps.event.addDomListener(window, 'resize', updateMapCenter);

    fetch('https://nomadlist.com/@martn_st.json') // Call the fetch function passing the url of the API as a parameter
    .then(response => response.json())
    .then(json => {
      const dayInSeconds = 60 * 60 * 24
      const maxTimeVisiting = 6 * dayInSeconds
      var stayingVerb = json.location.now.epoch_end - json.location.now.epoch_start <= maxTimeVisiting ? 'visiting' : 'living in'
      var cityAndCountry = `${json.location.now.city}, ${json.location.now.country}`
      console.log(`Martin currently lives in ${cityAndCountry}`)
      geocoder = new google.maps.Geocoder()
      geocoder.geocode({ 'address': cityAndCountry }, function(results, status){
          if (status == google.maps.GeocoderStatus.OK) {
            position = results[0].geometry.location
            console.log(`Found location ${position} for ${cityAndCountry}`)
            updateMapCenter()
          } else {
            console.error('Could not find location for: ' + cityAndCountry)
          }
      });


      var currentCityElement = document.getElementById('currentCity')
      if (currentCityElement) {
        currentCityElement.textContent = `, currently ${stayingVerb} ${emojiFlag(json.location.now.country_code)} ${json.location.now.city}`
      }
    })
    .catch(function(error) {
      console.error(error)
    })

    </script>
    <div id="googlempasoverlay"></div>
     <div class="container">
         <h1 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
         <nav class="nav-collapse">
             <ul class="noList">
                 {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url %}{% assign current = 'current' %}{% endif %}
                 <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                     <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                 </li> 
                 {% endfor %}
             </ul>
         </nav>
     </div>
 </div><!-- end .header -->
